@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #121212;
}

/* NavBar */
nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul {
    list-style: none;
}

.home a, .about-me a, .socials a, .projects a{
    font-family: 'Poppins';
    text-decoration: none;
    color: aliceblue;
    padding-left: 3vw;
}