@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* NavBar */
nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
    align-items: center;
    flex-wrap: wrap;
}
.home a, .about-me a, .socials a{
    font-family: 'Poppins';
    text-decoration: none;
}

.hey {
    font-family: 'Poppins';
    font-size: 8vw;
    padding-left: 8vw;
}

.name {
    font-family: 'Poppins';
    font-size: 8vw;
    padding-left: 35vw;
}