@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* NavBar */
nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
    align-items: center;
    flex-wrap: wrap;
}
.home a, .about-me a, .socials a{
    font-family: 'Poppins';
    text-decoration: none;
}

.hi {
    text-align: center;
}