@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: linear-gradient(to right, #5cdb95 0%, #5cdb95 50%, #05386b 50%, #05386b 100%);
  }

/* NavBar */
nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul {
    list-style: none;
}

.home a, .about-me a, .socials a, .projects a{
    font-family: 'Poppins';
    text-decoration: none;
    color: aliceblue;
    padding-left: 3vw;
}

.main-text-div {
    background: linear-gradient(to right, #05386b 0%, #05386b 50%, #5cdb95 50%, #5cdb95 100%);
    margin-left: 20vw;
    margin-right: 20vw;
}

.main-text {
    text-align: center;
    font-size: 12vw;
    font-family: 'Poppins', sans-serif;
}

.avi {
    color: #5cdb95;
}

.ash {
    color: #05386b;
}

.main-text:hover {
    animation: swing;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}